@charset "UTF-8";

body {
    background-color: #7ce2e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p {
    text-align: left;
}

header {
    background-color: #CEB5B7;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
}


main {
    background-color: white;
    width: 900px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 2px 8px black;
}

span {
   color: black; 
}

.span-na-header {
    font-size: 32px;
    font-weight: bolder;
    text-align: right;  /* Por que não foi para a direita ? */

}

h1 {
    text-align: center;
}

h2 {
    background-color: rgb(224, 223, 223);
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0px 2px 3px black;
}

footer {
    background-color: #b9a4a5;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
}