@charset "UTF-8";

body {
    background-color: rgba(130, 247, 255, 0.815);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p {
    text-align: left;
}

main {
    background-color: white;
    width: 850px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 2px 8px black;
}

h1 {
    text-align: center;
}

h2 {
    background-color: rgb(224, 223, 223);
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0px 2px 3px black;
}